{% extends 'sales/base.html' %}

{% block main %}
    {% include 'sales/header.html' %}
    <!-- About section-->
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>طرح های سامانه</h2>
                        <ul class="list-group list-group-flush">
                            {% for plan in object_list %}
                                <li class="list-group-item">
                                    <a href="{% url 'sales:plan_stores_list' plan.id %}">
                                        {{ plan.title }}
                                    </a> {{ plan.plan_status }}

                                {% if plan.description %}
                                 {{ plan.description }}
                                {% endif %}

                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>درباره ما</h2>
                        <p class="lead">طرح توزیع عادلانه به منظور رعایت عدالت اجتماعی برگزار گردیده است.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>تماس با ما</h2>
                        <p class="lead">در صورتی که برنامه به درستی کار نکرد با شماره 09155555555 تماس حاصل نمایید.</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}