{% extends 'sales/base.html' %}

{% block main %}
    <section id="plan">
        <div class="container px-4">
            <h2>نام طرح: {{ object.title }}</h2>

            <p class="lead pt-2">فروشندگان این طرح</p>
            {{ object.sellers_list }}
            {% if object.is_active %}
                <a href="{% url 'sales:sell_create' object.id %}" class="btn btn-success">ثبت مصرف کننده جدید (مخصوص فروشندگان)</a>
            {% endif %}
                <a class="btn btn-primary">استعلام ثبت نام قبلی</a>
        </div>
    </section>
{% endblock %}