{% extends 'sales/base.html' %}

{% block main %}
    {% include 'sales/header.html' %}

    <section id="plans">
        <div class="container px-4">
            <h2>نام طرح: {{ object.title }}</h2>

            <p class="lead pt-2">فروشندگان این طرح</p>
            {{ object.sellers_list }}
            {% for item in object.sellers.all %}
                <p>{{ item.title }}</p>
            {% endfor %}
                <a class="btn btn-success">ثبت نام</a>
                <a class="btn btn-primary">استعلام ثبت نام قبلی</a>
        </div>
    </section>
{% endblock %}